{% extends "layout.html" %}
{% block title %}All Music{% endblock %}
{% block content %}
<div class="row g-0">
  <div class="col">
    <h2>All Music</h2>
  </div>
  {% if current_user.role == "Admin" %}
  <div class="col" style="max-width: 110px;"><a href="/music/new" class="btn btn-outline-light">New Music</a></div>
  {% endif %}
</div>

{% for item in items %}
<div class="card mb-2">
  <div class="row g-0">
    <div class="col-md-1">
      <img src={{ item.artwork }} class="card-img-top" alt="...">
    </div>
    <div class="col-md-9 d-flex justify-content-center">
      <div class="card-body" style="margin: auto;">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.artist}}</p>
        <a href="/music/{{item.id}}" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
